html, body {
    background-image: url('/static/event/topback.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Do Hyeon", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .nav {
    display: flex;
    gap: 20px;
}

header .nav a {
    margin: 0 15px;
    font-size: 35px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .nav > .a1 {
    padding-bottom: 5px;
    border-bottom: 2px solid #6200ea;
    color: #6200ea;
}

header .search-bar button {
    padding: 5px 10px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 100px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    left: 10%;
}

.right-arrow {
    right: 10%;
}

.arrow:hover {
    color: white;
}

.event-list {
    display: flex;
    gap: 20px;
    perspective: 1000px;
}

.event-item {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    overflow: hidden;
}

.event-item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.event-item:hover img {
    transform: scale(1.5);
}

.event-item:nth-child(1) {
    transform: rotateY(-20deg);
    padding: 50px;
    width: 400px;
    height: 600px;
}

.event-item:nth-child(2) {
    transform: rotateY(0deg);
    width: 400px;
    height: 650px;
}

.event-item:nth-child(3) {
    transform: rotateY(20deg);
    padding: 50px;
    width: 400px;
    height: 600px;
}

.event-details {
    position: absolute;
    bottom: -120px;
    left: 10px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    text-align: center;
    transition: bottom 0.3s ease;
}

.event-details2 {
    position: absolute;
    bottom: -210px;
    left: 10px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    padding: 0px;
    border-radius: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    text-align: center;
    transition: bottom 0.3s ease;
}

.event-details h3 {
    margin: 0;
    font-size: 18px;
}

.event-details p {
    margin: 5px 0;
}
