/* 기본 스타일 설정 */
body{
    font-family: "Do Hyeon", sans-serif;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;

    display: flex;
    flex-direction: column;
}

/* 헤더 스타일 설정 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky; /* 헤더를 화면 상단에 고정 */
    top: 0; /* 화면 상단에 위치 */
    z-index: 1000; /* 다른 요소들 위에 표시 */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .nav {
    display: flex;
    gap: 20px;
    justify-content: center;
}

header .nav a {
    margin: 0 15px;
    font-size: 35px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .nav > .a1 {
    padding-bottom: 5px;
    border-bottom: 2px solid #6200ea;
    color: #6200ea;
}

header .search-bar button {
    padding: 5px 10px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* 이벤트 포스터 컨테이너 스타일 */
.event-poster-container {
    width: 25%; /* 바디의 50% 너비로 설정 */
    max-width: 800px; /* 최대 너비를 800px로 설정 */
    height: auto; /* 높이는 자동으로 설정 */
    margin: 20px auto; /* 수평 중앙 정렬 */
    position: relative; /* 자식 요소에 대한 절대 위치 지정 가능 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.event-poster-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지가 컨테이너를 가득 채우도록 설정 */
}

/* 컨테이너 설정 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%; /* 컨테이너가 바디와 같은 너비를 가지도록 설정 */
    box-sizing: border-box; /* padding을 포함한 전체 너비 계산 */
}

.content {
    width: 100%; /* 컨테이너의 전체 너비를 차지하도록 설정 */
    max-width: 1200px; /* 최대 너비를 1200px로 설정 */
}

/* 설명 부분에 스타일 추가 */
.description {
    padding: 15px;
    background-color: #f9f9f9; /* 배경색을 추가하여 내용을 더 돋보이게 함 */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}
.description a {
	
    color: #6200ea; /* 기본 링크 색상 지정 (예: 파란색) */
    text-decoration: none; /* 링크에 밑줄 제거 */

}

.description p {
    line-height: 1.6;
}

/* 모바일 화면에서의 스타일 조정 */
@media (max-width: 768px) {
    header .nav {
        display: none;
    }
    
    header .logo {
        font-size: 20px;
    }
    
    .container {
        padding: 10px;
    }
    
    .content {
        width: 100%;
    }
}
