body {
    font-family: "Do Hyeon", sans-serif;
    background-color: #f7f7f7;
    font-size:30px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-style: normal;
}

.signup-container {
    background-color: #fff;
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px; /* 로고의 너비를 100px로 설정 */
    height: auto; /* 높이는 비율에 맞게 자동 설정 */
}

.form-container {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
    font-weight: bold;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 8px;
}

.input-wrapper input {
    border: none;
    outline: none;
    flex: 1;
}

.input-wrapper span {
    color: #888;
    margin-left: 10px;
}

.password-icon {
    background-image: url('<%=request.getContextPath()%>/static/images/password_icon.png');
    width: 20px;
    height: 20px;
    display: block;
}

.gender-group {
    margin-bottom: 20px;
}

.gender-options {
    font-weight: bold;
}


.gender-options label {
    margin-left: 5px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
}
.submit{
	background-color: green;
	width:100%; 
	height: 40px;
	border-radius: 5px;
	color: white;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
}
