<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.LikeMapper">
    <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="map">
        INSERT INTO likes (like_num, user_num, event_num)
        VALUES (likes_seq.NEXTVAL, #{userNum}, #{eventNum})
    </insert>

    <!-- 사용자가 특정 이벤트에 좋아요를 눌렀는지 확인 -->
    <select id="existsByUserNumAndEventNum" parameterType="map" resultType="boolean">
	    SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
	    FROM likes
	    WHERE user_num = #{userNum} AND event_num = #{eventNum}
	</select>


    <!-- 좋아요 삭제 -->
    <delete id="deleteLike" parameterType="map">
        DELETE FROM likes
        WHERE user_num = #{userNum} AND event_num = #{eventNum}
    </delete>

      <!-- eventNum에 해당하는 좋아요 수를 카운트하는 SQL -->
    <select id="countByEventNum" resultType="int" parameterType="int">
        SELECT COUNT(*) 
        FROM likes 
        WHERE event_num = #{eventNum}
    </select>
</mapper>
