<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.LikeMapper">
    <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="DTO.Like">
        INSERT INTO likes (like_num, user_num, event_num)
        VALUES (likes_seq.NEXTVAL, #{userNum}, #{eventNum})
    </insert>

    <!-- 좋아요 존재 여부 확인 -->
    <select id="checkUserLike" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM likes
        WHERE user_num = #{userNum} AND event_num = #{eventNum}
    </select>

    <!-- 좋아요 삭제 -->
    <delete id="deleteLike" parameterType="map">
        DELETE FROM likes
        WHERE user_num = #{userNum} AND event_num = #{eventNum}
    </delete>
    
    <select id="isLiked" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM likes
    WHERE user_num = #{userNum} AND event_num = #{eventNum}
	</select>
    
</mapper>
