<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
         id="WebApp_ID" 
         version="4.0">
         
  <display-name>Culture</display-name>

  <!-- 웰컴 파일 리스트: 기본적으로 로드할 파일들 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <!-- 정적 리소스 매핑: 이미지, 자바스크립트, CSS 파일 등을 기본 서블릿으로 처리 -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.jfif</url-pattern>
  </servlet-mapping>

  <!-- 스프링의 DispatcherServlet 설정: 모든 URL 패턴을 이 서블릿이 처리하도록 매핑 -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- 새로운 서블릿 매핑: eventDetails와 displayImage 서블릿 추가 -->
  <!-- EventDetailsServlet 서블릿 매핑: /eventDetails 경로에 매핑 -->
  <servlet>
    <servlet-name>EventDetailsServlet</servlet-name>
    <servlet-class>imageInOut.EventDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDetailsServlet</servlet-name>
    <url-pattern>/eventDetails</url-pattern>
  </servlet-mapping>

  <!-- DisplayImageServlet 서블릿 매핑: /displayImage 경로에 매핑 -->
  <servlet>
    <servlet-name>DisplayImageServlet</servlet-name>
    <servlet-class>imageInOut.DisplayImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImageServlet</servlet-name>
    <url-pattern>/displayImage</url-pattern>
  </servlet-mapping>
  
</web-app>
